<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h1> Welcome Back </h1>
<h1 th:text="${user.firstName}"> Stranger </h1>
<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Username</th>
    </tr>
        <td th:text="${user.id}"> 1 </td>
        <td th:text="${user.firstName}"> John </td>
        <td th:text="${user.lastName}"> Smith </td>
        <td th:text="${user.userName}"> JohnSmith1</td>
    </tr>
</table>
</body>
</html>