<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body>
<form th:action="@{/users/create}" method="post">
    <div><label> First Name : <input type="text" name="firstName"/> </label></div>
    <div><label> Last Name : <input type="text" name="lastName"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>