<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<!--@thymesVar id="userDTO" type=com.manchesterdigital.userservice.entity.UserDTO"*-->
<body>
<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="userDTO : ${users}">
        <td th:text="${userDTO.id}"> 1 </td>
        <td th:text="${userDTO.firstName}"> John </td>
        <td th:text="${userDTO.lastName}"> Smith </td>
    </tr>


</table>
</body>
</html>